@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$bg-color:#F9F4EF;
$deep-color:#473218;
$second-color:#E3DBD3;
$third-color:#A58C6D;
$forth-color:#6A402E;
// $fifth-color:#695A4B;
$fifth-color:#F1F1F1;
$sixth-color:#DFD0C0;
$common-text:#4D4D4D;
$input-color:#FFF5EC;
$gray-D1:#D1D1D1;
$gray-f1:#F1F1F1;
$gray-DC:#DCDCDC;
$transition-main:0.3s;

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: $bg-color;
    color: $common-text;
    font-size: 0.9vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
    padding: 0;
}

button:disabled {
    background-color: $gray-DC;
    border-color: $gray-DC;
    color: #868686;
    svg {
        path {
            fill: #868686;
            stroke: #868686;
        }
    }
}

input {
    border: 1px solid $gray-D1;
    padding: 3px 8px;
    background-color: transparent;
    outline: none;
    width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #9A0128;
    position: relative;
    color: #fff;
    &_menu {
        width: 70px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.22);
        cursor: pointer;
        transition: $transition-main;
        img {
            width: 30px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &_title {
        font-size: 22px;
        margin: 0 0 0 25px;
    }
    &_logo {
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &_right {
        padding-right: 40px;
    }
    &_user {
        text-align: right;
        img {
            width: 20px;
            margin-right: 4px;
        }
    }
    &_time {
        // color: #b25169;
        color: #fff;
        font-size: 13px;
        margin: 0;
    }
    &_logout {
        margin-left: 30px;
        height: 100%;
        width: 20px;
        transition: $transition-main;
        img {
            width: 100%;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.nav-common {
    .nav {
        &_bg {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.28);
            display: none;
            cursor: pointer;
        }
        &_content {
            width: 320px;
            height: 100%;
            position: fixed;
            background-color: #790125;
            color: #fff;
            top: 0;
            left: -320px;
            padding: 25px 0;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            transition: $transition-main;
            &_top {
                width: 100%;
            }
            &_bottom {
                width: 100%;
            }
            ul {
                li {
                    padding: 0 15px;
                    transition: $transition-main;
                    a {
                        color: #fff;
                        display: block;
                        padding: 10px 15px;
                        border-bottom: 1px solid rgba(255,255,255,0.2);
                    }
                    &:last-child {
                        a {
                            border-bottom: 0;
                        }
                    }
                    &.active, &:hover {
                        background-color: #5F011D;
                    }
                }
            }
            &.active {
                left: 0;
            }
        }
        &_close {
            cursor: pointer;
            width: 22px;
            margin-bottom: 15px;
            margin-left: 30px;
            transition: $transition-main;
            img {
                width: 22px;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

main {
    margin-top: 40px;
    width: 100%;
}

.container {
    &-permission {
        // max-width: 1670px;
        // min-width: 1440px;
        width: 100%;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

.inner {
    width: 100%;
    overflow-x: auto;
}

.btn {
    &-third {
        // background-color: $third-color;
        background-color: #9A0128;
        // border: 1px solid $third-color;
        border: 1px solid #9A0128;
        color: #fff;
    }
    &-medium {
        padding: 9px 16px;
        border-radius: 0;
    }
    &-small {
        padding: 4px 10px;
        border-radius: 0;
    }
    &-icontext {
        img, svg {
            width: 20px;
            margin-right: 4px;
        }
    }
    &-border {
        border: 1px solid $deep-color;
        color: $deep-color;
        // border: 1px solid #9A0128;
        // color: #9A0128;
        border-radius: 0;
    }
}

.table {
    margin-top: 20px;
    td {
        vertical-align: middle;
        text-align: center;
        input {
            // width: 100%;
            text-align: center;
        }
        input:disabled {
            border: 0;
            padding: 0;
        }
    }
    &-brown {
        td {
            border: 1px solid #b6b6b6;
            background-color: #fff;
        }
        .table {
            &_title {
                td {
                    background-color: #C0C0C0;
                    // font-size: 14px;
                    color: $deep-color;
                    font-weight: 700;
                }
            }
        }
    }
    &_title {
        // color: #412B0F;
        color: #000;
        margin: 0;
        // font-size: 18px;
    }
}

.check {
    background-color: #fff;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    img {
        width: 15px;
        opacity: 0;
        transition: $transition-main;
    }
    &.active {
        background-color: $third-color;
        border: 1px solid $third-color !important;
        img {
            opacity: 1;
        }
    }
    &.valid {
        cursor: pointer;
        border: 1px solid $gray-D1;
    }
}

.modal {
    &-dialog {
        margin-top: 6rem;
    }
    &-content {
        border-radius: 0;
        border: 0;
    }
    &-header {
        border: 0;
        position: relative;
    }
    &-title {
        font-size: 18px;
        color: #412B0F;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: 700;
    }
    &-body {
        padding: 40px;
        text-align: center;
    }
    &-footer {
        border: 0;
        padding-top: 0;
        padding-bottom: 30px;
        justify-content: center;
    }
}

.alert_box {
    position: fixed;
    background-color: rgb(219, 132, 132);
    padding: 20px 30px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    // box-shadow: 0 1px 10px rgba(0,0,0,0.15);
    display: none;
    p {
        margin: 0;
        color: #fff;
    }
}

.tab-common {
    width: 185px;
    height: calc(100vh - 70px);
    padding: 30px 18px;
    background-color: #F0EBE5;
    display: block;
    overflow-y: auto;
    .nav-item {
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .nav-link {
        background-color: $sixth-color;
        border-radius: 15px;
        width: 100%;
        padding: 8px;
        color: $deep-color;
        transition: $transition-main;
        &.active, &:hover {
            background-color: #695A4B;
            color: #fff;
        }
    }
}

.switch {
    width: 40px;
    height: 20px;
    border-radius: 100px;
    background-color: $second-color;
    position: relative;
    cursor: pointer;
    transition: $transition-main;
    &_circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0,0,0,0.15);
        position: absolute;
        top: 50%;
        left: 3px;
        transform: translateY(-50%);
        transition: $transition-main;
    }
    &.active {
        background-color: $forth-color;
        .switch_circle {
            left: calc(100% - 3px - 14px);
        }
    }
}