.parameter {
    &_right {
        width: calc(100% - 185px);
    }
    &_content {
        padding: 20px;
        height: 100%;
    }
    &_table {
        width: 100%;
        overflow-x: auto;
        // (螢幕高 - header高)/2 - 上padding - 標題高度
        height: calc((100vh - 70px)/2 - 24px - 40px);
        overflow-y: auto;
        &.higher {
            // 螢幕高 - header高 - 上padding - 標題高度 - 上margin
            height: calc(100vh - 70px - 20px - 40px - 20px);
        }
    }
    &_title {
        &-donateItems {
            max-width: 450px;
            width: 100%;
        }
    }
}

.table {
    &-params {
        &-field {
            &-1 {
                min-width: 850px;
            }
            &-2 {
                min-width: 1440px;
            }
            &-3 {
                min-width: 1100px;
            }
        }
        &-kind {
            &-1 {
                min-width: 650px;
            }
            &-2 {
                min-width: 450px;
            }
            &-3 {
                width: 450px;
            }
            &-4 {
                min-width: 450px;
                width: 100%;
            }
        }
        &_donation, &_construction {
            min-width: 920px;
        }
        &_anniversary {
            min-width: 825px;
        }
    }
    &-field {
        tr {
            cursor: pointer;
            &:not(.table_title):not(.editing){
                &:hover, &.active {
                    td {
                        background-color: #ffe3ca;
                    }
                }
            }
        }
    }
}

.params {
    &_light {
        &_field, &_kind {
            width: 100%;
            height: calc((100vh - 70px)/2);
            overflow-x: hidden;
        }
        &_field {
            background-color: #fff;
        }
    }
    &_stop {
        &_field {
            width: 100%;
            height: calc((100vh - 70px)/2);
            overflow-x: hidden;
            background-color: #fff;
        }
        &_kind {
            width: 100%;
            height: calc((100vh - 70px)/2);
            overflow-x: hidden;
        }
    }
    &_system {
        &_form {
            margin: 100px auto;
            max-width: 440px;
            padding: 0 20px;
            label {
                display: block;
                width: 120px;
                padding-right: 10px;
            }
        }
        &_right {
            width: calc(100% - 100px);
            input {
                width: 100%;
                height: 40px;
                background-color: #fff;
            }
        }
    }
}

.input {
    &-num {
        label {
            text-align: left !important;
            display: block;
        }
        input {
            width: 60px !important;
            text-align: left !important;
        }
    }
}

@media screen and (max-width:1500px) {
    .params {
        &_system {
           &_form {
            label {
                width: 100px;
            }
           } 
        } 
    } 
}