@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #F9F4EF;
  color: #4D4D4D;
  font-size: 0.9vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 0;
}

button:disabled {
  background-color: #DCDCDC;
  border-color: #DCDCDC;
  color: #868686;
}

button:disabled svg path {
  fill: #868686;
  stroke: #868686;
}

input {
  border: 1px solid #D1D1D1;
  padding: 3px 8px;
  background-color: #fff;
  outline: none;
  height: 35px;
  width: 75px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  border: 1px solid #D1D1D1;
  padding: 3px 25px 3px 8px;
  background-color: #fff;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-position: calc(100% - 5px) center;
  background-size: 15px;
  background-repeat: no-repeat;
  height: 35px;
}

.input-date {
  width: 150px;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #9A0128;
  position: relative;
  color: #fff;
}

.header_menu {
  width: 70px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.22);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu img {
  width: 30px;
}

.header_menu:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header_title {
  font-size: 22px;
  margin: 0 0 0 25px;
}

.header_logo {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_right {
  padding-right: 40px;
}

.header_user {
  text-align: right;
}

.header_user img {
  width: 20px;
  margin-right: 4px;
}

.header_date {
  color: #fff;
  font-size: 13px;
  margin: 0;
}

.header_logout {
  margin-left: 30px;
  height: 100%;
  width: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_logout img {
  width: 100%;
}

.header_logout:hover {
  opacity: 0.7;
}

.nav-common .nav_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.28);
  display: none;
  cursor: pointer;
}

.nav-common .nav_content {
  width: 320px;
  height: 100%;
  position: fixed;
  background-color: #790125;
  color: #fff;
  top: 0;
  left: -320px;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-common .nav_content_top {
  width: 100%;
}

.nav-common .nav_content_bottom {
  width: 100%;
}

.nav-common .nav_content ul li {
  padding: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-common .nav_content ul li a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-common .nav_content ul li:last-child a {
  border-bottom: 0;
}

.nav-common .nav_content ul li.active, .nav-common .nav_content ul li:hover {
  background-color: #5F011D;
}

.nav-common .nav_content.active {
  left: 0;
}

.nav-common .nav_close {
  cursor: pointer;
  width: 22px;
  margin-bottom: 15px;
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-common .nav_close img {
  width: 22px;
}

.nav-common .nav_close:hover {
  opacity: 0.5;
}

main {
  width: 100%;
}

.container-permission {
  width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  width: 100%;
  overflow-x: auto;
}

.btn-third {
  background-color: #9A0128;
  border: 1px solid #9A0128;
  color: #fff;
}

.btn-medium {
  padding: 9px 16px;
  border-radius: 0;
}

.btn-small {
  padding: 4px 10px;
  border-radius: 0;
}

.btn-icontext img, .btn-icontext svg {
  width: 20px;
  margin-right: 4px;
}

.btn-border {
  border: 1px solid #473218;
  color: #473218;
  border-radius: 0;
}

.table {
  margin-top: 20px;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.table td input {
  text-align: center;
}

.table td input:disabled {
  border: 0;
  padding: 0;
}

.table-brown td {
  border: 1px solid #b6b6b6;
  background-color: #fff;
}

.table-brown .table_title td {
  background-color: #C0C0C0;
  color: #473218;
  font-weight: 700;
  font-size: 0.9vw;
}

.table_title {
  color: #000;
  margin: 0;
}

.check {
  background-color: #fff;
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.check img {
  width: 15px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.check.active {
  background-color: #A58C6D;
  border: 1px solid #A58C6D !important;
}

.check.active img {
  opacity: 1;
}

.check.valid {
  cursor: pointer;
  border: 1px solid #D1D1D1;
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.check-box_inner {
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  margin-right: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.check-box_inner img {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.check-box.active .check-box_inner {
  background-color: #A58C6D;
  border: 1px solid #A58C6D !important;
}

.check-box.active .check-box_inner img {
  opacity: 1;
}

.modal-dialog {
  margin-top: 6rem;
}

.modal-content {
  border-radius: 0;
  border: 0;
}

.modal-header {
  border: 0;
  position: relative;
}

.modal-title {
  font-size: 18px;
  color: #412B0F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
}

.modal-body {
  padding: 40px;
  text-align: center;
}

.modal-footer {
  border: 0;
  padding-top: 0;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert_box {
  position: fixed;
  background-color: #db8484;
  padding: 20px 30px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.alert_box p {
  margin: 0;
  color: #fff;
}

.tab-common {
  width: 185px;
  height: calc(100vh - 70px);
  padding: 20px 18px;
  background-color: #F0EBE5;
  display: block;
  overflow-y: auto;
}

.tab-common .nav-item {
  width: 100%;
  margin-bottom: 10px;
}

.tab-common .nav-item:last-child {
  margin-bottom: 0;
}

.tab-common .nav-link {
  background-color: #DFD0C0;
  border-radius: 13px;
  width: 100%;
  padding: 6.5px 8px;
  color: #473218;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  text-align: center;
}

.tab-common .nav-link.active, .tab-common .nav-link:hover {
  background-color: #695A4B;
  color: #fff;
}

.switch {
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: #E3DBD3;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switch_circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switch.active {
  background-color: #6A402E;
}

.switch.active .switch_circle {
  left: calc(100% - 3px - 14px);
}

#loading {
  width: 100vw;
  height: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
}

#loading #myItem1 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#loading .ldBar-label {
  margin-top: 15px;
}

footer {
  width: 100%;
  padding: 10px;
  background-color: #473218;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 1600px) {
  .input-date {
    width: 120px;
  }
}

.table-permission {
  min-width: 1200px;
}

.table-permission-box {
  overflow-x: auto;
}

.parameter_right {
  width: calc(100% - 185px);
}

.parameter_content {
  padding: 20px;
  height: 100%;
}

.parameter_table {
  width: 100%;
  overflow-x: auto;
  height: calc((100vh - 70px)/2 - 24px - 40px);
  overflow-y: auto;
}

.parameter_table.higher {
  height: calc(100vh - 70px - 20px - 40px - 20px);
}

.parameter_title-donateItems {
  max-width: 450px;
  width: 100%;
}

.table-params-field-1 {
  min-width: 850px;
}

.table-params-field-2 {
  min-width: 1440px;
}

.table-params-field-3 {
  min-width: 1100px;
}

.table-params-kind-1 {
  min-width: 650px;
}

.table-params-kind-2 {
  min-width: 450px;
}

.table-params-kind-3 {
  width: 450px;
}

.table-params-kind-4 {
  min-width: 450px;
  width: 100%;
}

.table-params_donation, .table-params_construction {
  min-width: 920px;
}

.table-params_anniversary {
  min-width: 825px;
}

.table-field tr {
  cursor: pointer;
}

.table-field tr:not(.table_title):not(.editing):hover td, .table-field tr:not(.table_title):not(.editing).active td {
  background-color: #ffe3ca;
}

.params_light_field, .params_light_kind {
  width: 100%;
  height: calc((100vh - 70px)/2);
  overflow-x: hidden;
}

.params_light_field {
  background-color: #fff;
}

.params_stop_field {
  width: 100%;
  height: calc((100vh - 70px)/2);
  overflow-x: hidden;
  background-color: #fff;
}

.params_stop_kind {
  width: 100%;
  height: calc((100vh - 70px)/2);
  overflow-x: hidden;
}

.params_system_form {
  margin: 100px auto;
  max-width: 440px;
  padding: 0 20px;
}

.params_system_form label {
  display: block;
  width: 120px;
  padding-right: 10px;
}

.params_system_right {
  width: calc(100% - 100px);
}

.params_system_right input {
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.input-num label {
  text-align: left !important;
  display: block;
}

.input-num input {
  width: 60px !important;
  text-align: left !important;
}

@media screen and (max-width: 1500px) {
  .params_system_form label {
    width: 100px;
  }
}

.login-form {
  max-width: 350px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto 0;
}

.login_logo {
  width: 100%;
  display: block;
  margin: 0 auto 76px;
}

.login_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 15px;
}

.login_input label {
  width: 50px;
}

.login_input input {
  width: calc(100% - 50px);
  background-color: #fff;
  height: 40px;
}

.login_btn {
  display: block;
  margin: 30px auto 0;
  padding: 10px 35px;
  color: #fff;
  background-color: #473218;
}

.login_certify {
  margin: 0 auto;
}

.front_cust {
  width: calc((100% - 185px)/2);
  background-color: #fff;
  padding: 20px 25px;
}

.front_cust h2 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #473218;
  font-weight: 600;
}

.front_cust_form {
  padding: 20px 15px;
  background-color: #F1F1F1;
}

.front_cust_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.front_cust_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.front_cust_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.front_cust_btn button {
  padding: 5px 15px;
  margin-left: 10px;
}

.front_cust_name {
  width: 100%;
}

.front_cust_name label {
  width: 50px;
}

.front_cust_name .front_cust_input {
  width: calc(100% - 50px);
}

.front_cust_name select {
  width: 70px;
}

.front_cust_name input {
  width: calc(100% - 10px - 70px);
}

.front_cust_phone {
  width: 78%;
}

.front_cust_phone label {
  width: 50px;
}

.front_cust_phone .front_cust_input {
  width: calc(100% - 45px);
}

.front_cust_phone input {
  width: calc(50% - 5px);
}

.front_cust_address {
  width: 100%;
}

.front_cust_address label {
  width: 50px;
}

.front_cust_address .front_cust_input {
  width: calc(100% - 50px);
}

.front_cust_address .cCountry {
  opacity: 0;
  display: none;
}

.front_cust_address .cAddress {
  width: calc(100% - 340px);
}

.front_cust_address .test-roleAttr-has-zipcode {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.front_cust_address .test-roleAttr-has-zipcode select {
  width: 110px;
  margin-right: 10px;
}

.front_cust_address .test-roleAttr-has-zipcode input {
  width: calc(100% - (110px + 10px) * 2 - 10px);
}

.front_cust_birthLunar, .front_cust_birthNational, .front_cust_identity, .front_cust_memberNum, .front_cust_email, .front_cust_switch {
  width: 39%;
}

.front_cust_birthLunar label, .front_cust_birthNational label, .front_cust_identity label, .front_cust_memberNum label, .front_cust_email label, .front_cust_switch label {
  width: 85px;
}

.front_cust_birthLunar .front_cust_input, .front_cust_birthNational .front_cust_input, .front_cust_identity .front_cust_input, .front_cust_memberNum .front_cust_input, .front_cust_email .front_cust_input, .front_cust_switch .front_cust_input {
  width: calc(100% - 85px);
}

.front_cust_birthLunar .front_cust_input input, .front_cust_birthNational .front_cust_input input, .front_cust_identity .front_cust_input input, .front_cust_memberNum .front_cust_input input, .front_cust_email .front_cust_input input, .front_cust_switch .front_cust_input input {
  width: 100%;
}

.front_cust_birthLunar, .front_cust_memberNum {
  padding-left: 15px;
}

.front_cust_birthTime, .front_cust_gender {
  width: 22%;
  padding-left: 15px;
}

.front_cust_birthTime label, .front_cust_gender label {
  width: 50px;
}

.front_cust_birthTime .front_cust_input, .front_cust_gender .front_cust_input {
  width: calc(100% - 50px);
}

.front_cust_birthTime .front_cust_input input, .front_cust_birthTime .front_cust_input select, .front_cust_gender .front_cust_input input, .front_cust_gender .front_cust_input select {
  width: 100%;
}

.front_cust_remark {
  width: 61%;
  padding-left: 15px;
}

.front_cust_remark label {
  width: 85px;
}

.front_cust_remark .front_cust_input {
  width: calc(100% - 85px);
}

.front_cust_remark .front_cust_input input {
  width: 100%;
}

.front_cust_mail {
  width: 22%;
  padding-left: 15px;
}

.front_cust_mail label {
  width: 45px;
}

.front_cust_mail .front_cust_input {
  width: calc(100% - 45px);
}

.front_cust_mail .front_cust_input select {
  width: 100%;
}

.front_family_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.front_family_top label {
  width: 55px;
}

.front_family_top select {
  width: calc(100% - 55px);
}

.front_family_table {
  width: 100%;
  text-align: center;
  background-color: #fff;
  overflow-y: auto;
  max-height: calc(100vh - 70px - 40px - 21.59px - 10px - 447.84px - 24px - 40px - 35px - 15px);
}

.front_family_table button {
  padding: 4px 10px;
}

.front_family_table li {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
  text-align: center;
}

.front_family_table li > div {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-left: 1px solid #DCDCDC;
}

.front_family_table li > div:first-child {
  border: 0;
}

.front_family_table .table_num {
  width: 8%;
}

.front_family_table .table_name {
  width: 24%;
}

.front_family_table .table_gender {
  width: 8%;
}

.front_family_table .table_age {
  width: 8%;
}

.front_family_table .table_zodiac {
  width: 8%;
}

.front_family_table .table_birth {
  width: 14%;
}

.front_family_table .table_inst {
  width: 16%;
}

.front_family_table .table_func {
  width: 14%;
}

.front_family_table .table_title {
  background-color: #C0C0C0;
  color: #473218;
  font-weight: 700;
  font-size: 0.9vw;
}

.front_tab {
  width: 185px;
}

.front_detail {
  width: calc((100% - 185px)/2);
  padding: 30px 25px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.front_detail_td_name {
  width: 150px;
}

.front_detail_td_price {
  width: 100px;
}

.front_detail_td_join {
  width: 100px;
}

.front_detail_td_join select {
  width: 100%;
}

.front_detail_td_check {
  width: 100px;
}

.front_detail_td_fund {
  width: 100px;
}

.front_detail_td_fund select {
  width: 100%;
}

.front_detail .table {
  margin-top: 0;
}

.front_detail .year-select {
  width: 200px;
}

.front_detail .summary-select {
  width: 80px;
  margin-right: 10px;
}

.front_detail .summary-input {
  width: calc(100% - 80px - 15px);
}

.front_detail .kind-select {
  width: 100%;
}

.front_detail .resolve_select {
  width: calc(100% - 15px - 80px - 100px);
  margin-right: 15px;
}

.front_detail .resolve_label {
  width: 80px;
}

.front_detail .resolve_input {
  width: 100px;
}

.front_detail .pilgrimage_date {
  width: 120px;
}

.front_detail .pilgrimage_ident {
  width: 120px;
}

.front_detail_table-box {
  overflow-x: auto;
}

.front_detail_name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: center;
}

.front_detail_remark {
  width: 335px;
}

.front_detail_remark label {
  width: 45px;
}

.front_detail_remark select {
  width: 110px;
}

.front_detail_remark input {
  margin-left: 15px;
  width: calc(100% - 45px - 110px - 10px);
}

.front_detail_remark.donate-gold_remark {
  width: 100%;
}

.front_detail_remark.donate-gold_remark input {
  width: calc(100% - 45px - 110px - 15px - 15px - 80px);
}

.front_detail_pay {
  padding-left: 10px;
  width: calc(100% - 335px - 15px - 80px);
}

.front_detail_pay label {
  width: 85px;
}

.front_detail_pay select {
  width: 80px;
  margin-right: 15px;
}

.front_detail_pay input {
  width: calc(100% - 85px - 80px - 15px - 53px - 15px);
}

.front_detail_pay_total {
  width: 53px !important;
  margin-right: 15px;
}

.front_detail_btn {
  padding: 4px 10px;
  margin-left: 15px;
  width: 80px;
}

.front_record {
  position: fixed;
  width: calc((100% - 185px)/2);
  padding: 30px 25px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  background-color: #F9F4EF;
  top: 70px;
  right: 0;
  display: none;
}

.front_record_table button {
  padding: 3px 10px;
}

.ac_results {
  border: 1px solid #D1D1D1;
}

.ac_results li {
  color: #4D4D4D;
}

.ac_results li * {
  color: #4D4D4D;
}

@media screen and (max-width: 1750px) {
  .front_cust_birthTime {
    width: 24%;
  }
  .front_cust_birthLunar, .front_cust_birthNational {
    width: 38%;
  }
  .front_detail_remark {
    width: 90px;
    width: 300px;
  }
  .front_detail_pay {
    width: calc(100% - 300px - 15px - 70px);
  }
  .front_detail_pay label {
    width: 80px;
  }
  .front_detail_pay_total {
    width: 50px !important;
  }
  .front_detail_pay input {
    width: calc(100% - 80px - 80px - 15px - 50px - 15px);
  }
  .front_detail_btn {
    width: 70px;
  }
}

@media screen and (max-width: 1600px) {
  .front_detail_remark {
    width: 230px;
  }
  .front_detail_remark select {
    width: 80px;
  }
  .front_detail_remark input {
    margin-left: 10px;
    width: calc(100% - 45px - 80px - 10px);
  }
  .front_detail_pay {
    width: calc(100% - 230px - 10px - 70px);
  }
  .front_detail_pay label {
    width: 65px;
  }
  .front_detail_pay select {
    margin-right: 10px;
  }
  .front_detail_pay_total {
    width: 45px !important;
    margin-right: 5px;
  }
  .front_detail_pay input {
    width: calc(100% - 65px - 80px - 10px - 45px - 5px);
  }
  .front_detail_btn {
    margin-left: 10px;
  }
  .front_family {
    margin-top: 15px !important;
  }
  .front_family_table {
    max-height: calc(100vh - 70px - 30px - 21.59px - 10px - 354.31px - 15px - 30px - 30px - 10px);
  }
  .front_family_table .table_num {
    width: 45px;
  }
  .front_family_table .table_name {
    width: 100px;
  }
  .front_family_table .table_gender {
    width: 45px;
  }
  .front_family_table .table_age {
    width: 45px;
  }
  .front_family_table .table_zodiac {
    width: 45px;
  }
  .front_family_table .table_birth {
    width: 90px;
  }
  .front_family_table .table_inst {
    width: calc(100% - 45px - 100px - 45px - 45px - 45px - 90px - 70px);
  }
  .front_family_table .table_func {
    width: 70px;
  }
  .front_family_top {
    margin-bottom: 10px;
  }
  .front_cust {
    padding: 15px 20px;
  }
  .front_cust_form {
    padding: 15px;
  }
  .front_cust_form hr {
    margin-bottom: 10px !important;
  }
  .front_cust_form input, .front_cust_form select {
    height: 30px;
  }
  .front_cust_item {
    margin-bottom: 10px;
  }
  .front_cust_birthNational, .front_cust_birthLunar, .front_cust_identity, .front_cust_memberNum, .front_cust_email, .front_cust_switch {
    width: 38%;
  }
  .front_cust_birthNational label, .front_cust_birthLunar label, .front_cust_identity label, .front_cust_memberNum label, .front_cust_email label, .front_cust_switch label {
    width: 65px;
  }
  .front_cust_birthNational .front_cust_input, .front_cust_birthLunar .front_cust_input, .front_cust_identity .front_cust_input, .front_cust_memberNum .front_cust_input, .front_cust_email .front_cust_input, .front_cust_switch .front_cust_input {
    width: calc(100% - 65px);
  }
  .front_cust_birthTime label, .front_cust_gender label, .front_cust_remark label {
    width: 40px;
  }
  .front_cust_birthTime .front_cust_input, .front_cust_gender .front_cust_input, .front_cust_remark .front_cust_input {
    width: calc(100% - 40px);
  }
  .front_cust_birthTime, .front_cust_gender {
    width: 24%;
  }
  .front_cust_birthLunar, .front_cust_birthTime, .front_cust_memberNum, .front_cust_gender, .front_cust_remark {
    padding-left: 10px;
  }
  .front_cust_address .test-roleAttr-has-zipcode {
    width: 300px;
  }
  .front_cust_address .test-roleAttr-has-zipcode select {
    width: 90px;
  }
  .front_cust_address .test-roleAttr-has-zipcode input {
    width: calc(100% - (90px + 10px) * 2 - 10px);
  }
  .front_cust_address .cAddress {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1450px) {
  .front_detail_remark label {
    width: 40px;
  }
  .front_detail_remark.donate-gold_remark input {
    width: calc(100% - 40px - 80px - 10px - 10px - 60px);
  }
  .front_detail_pay {
    width: calc(100% - 230px - 10px - 60px);
  }
  .front_detail_btn {
    width: 60px;
  }
  .front_detail .resolve_select {
    width: calc(100% - 10px - 65px - 100px);
    margin-right: 10px;
  }
  .front_detail .resolve_label {
    width: 65px;
  }
}
/*# sourceMappingURL=style.css.map */